#grid{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 300px;
    right: 0;
    padding: 10px;

    .post{
        display: inline-block;
        width: 20%;
        padding: 20px;
        background: #EEEEEE;
        border: 1px solid #CCCCCC;
        margin: 10px;

        .title{
            font-size: 14px;
            font-weight: bold;
            margin: 0 0 5px 0;
            padding: 0 0 5px 0;
            border-bottom: 1px solid #CCCCCC;
            text-transform: uppercase;
        }

        .description{
            font-size: 14px;
            color: #666666;
            margin: 0 0 5px 0;
        }

        &.locked{
            opacity: 0.5;
        }
    }

}
